body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}


.section1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 16px;
   
}

ul {
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.content-section1 {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    width: 800px;
    margin: 80px;    
}


.texts-section1 {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    
}

.texts-section1-title {
    font-size: 49px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    padding: 0px;
    flex: 1 1 0;  
}

.texts-section1 p {
    flex: 1 1 0;
}

button {
    background-color: #3882f6;
    border: 0px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    padding: 0.5em 2em;
    font-weight: bold;
    max-width: 8em;    
}

.image-section1 img {
    width: 400px;
    height: 100%;
    
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section2-title {
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
}

.card-container {
    display: flex;
    width: 800px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;    
}

.window {
    width: 120px;
    height: 120px;
    border-width: 8px;
    border-color: #1F2937;
    border-style: solid;
    border-radius: 10%;
}

.card-text {
    width: 150px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;

}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px;
}

.quote-text {
   width: 800px; 
   display: flex;
   flex-flow: column wrap;
   font-size: 36px;
   font-weight: 200;
   font-style: italic;
   color: #1F2937:
}

.quoter {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;;
}

#michael-scott {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.section4 {
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 16px 80px;
}

.modal-texts {
    flex: 1 1 0;
    color: white;
    flex-wrap: wrap;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}

.modal-body {
    margin-top: 5px;
    width: 90%;
}

.sign-up-button {
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;

}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    font-size: 12px;
}